@import './styles/navbar';
* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: poppins;
    transition: background-color .2s ease-in;
}
button {
    border: none;
    cursor: pointer;
}
.btn {

}